<a href="https://colab.research.google.com/github/NicoPatalagua/Scikit-learn/blob/master/mta_1712.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#https://www.kaggle.com/stoney71/new-york-city-transport-statistics#mta_1706.csv
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

In [0]:
ObjData = pd.read_csv("mta_1712.csv")
ObjData.head(4)

        RecordedAtTime  DirectionRef  ...  ExpectedArrivalTime ScheduledArrivalTime
0  2017-12-01 00:05:49             0  ...  2017-12-01 00:06:21             24:01:30
1  2017-12-01 00:06:19             1  ...  2017-12-01 00:06:21             23:34:35
2  2017-12-01 00:05:25             0  ...  2017-12-01 00:06:22             24:15:35
3  2017-12-01 00:05:56             0  ...  2017-12-01 00:06:22             24:05:24

[4 rows x 17 columns]

In [0]:
for column in ObjData.columns:
    if ObjData[column].dtype == type(object):
        ObjRd = preprocessing.LabelEncoder()
        ObjData[column] = ObjRd.fit_transform(ObjData[column].astype(str))
ObjData.shape
ObjData = ObjData.fillna(0)
ObjData.columns = [str(i) for i in range(0,17)]
attributes = ObjData.drop('0', axis=1)
labels = ObjData['0']    
att_train, att_test, lab_train, lab_test = train_test_split(attributes, labels, test_size =0.3)
ObjData.head()

    0  1    2    3          4          5  ...         11    12  13     14  15    16
0  21  0   43  202  40.638160 -73.978939  ... -73.977672   602  74  130.0   0  5575
1  51  1   97  247  40.912363 -73.902699  ... -73.925258  1320  75   14.0   0  5353
2   5  0  234  189  40.581245 -74.111990  ... -74.112033  3766  73  209.0   1  5991
3  28  0  144  361  40.732847 -74.010081  ... -73.999677  2842  75    5.0   1  5702
4  34  0  114   54  40.729567 -73.990052  ... -73.957659   382  74  108.0   3  5618

[5 rows x 17 columns]

In [0]:
att_train.head()

       1    2    3          4          5  ...    12  13      14    15    16
7279   0  124  371   0.000000   0.000000  ...  3495  75    11.0  1397  7956
2963   0  122  277  40.701536 -74.012485  ...   738  73   207.0   441  6095
12259  1   17  161  40.656215 -73.908149  ...  1582  73   166.0  2304  3939
2171   1  139  186  40.768386 -73.862535  ...   870   4  1449.0   382  6203
5995   1  176   12  40.707557 -73.795502  ...  2935  73   271.0  1065  7846

[5 rows x 16 columns]

In [0]:
att_test.head()

       1    2    3          4          5  ...    12  13     14    15    16
14929  0  243   75  40.530102 -74.226292  ...  5475  74   54.0  2671  5272
4161   0    8  269  40.611761 -74.035120  ...  4063  74  140.0   688  7200
11515  0   69  188  40.810954 -73.927139  ...  5378  73  355.0  2190  3591
12169  1   64  256  40.889970 -73.819647  ...  2052  74  112.0  2772  7956
7550   1   24   73  40.737195 -73.955670  ...  2331  74  140.0  1463  1720

[5 rows x 16 columns]

In [0]:
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

In [0]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf.fit(att_train, lab_train)
lab_pred= clf.predict(att_test)
print("\nAccuracy Score: "+ str(accuracy_score(lab_test,lab_pred)))
print("\nPrecision Score Macro: "+str(precision_score(lab_test,lab_pred,average='macro',zero_division=1)))
print("\nPrecision Score Micro: "+str(precision_score(lab_test,lab_pred,average='micro',zero_division=1)))
print("\nRecall Macro: "+str(recall_score(lab_test,lab_pred, average='macro',zero_division=1)))
print("\nRecall Micro: "+str(recall_score(lab_test,lab_pred, average='micro',zero_division=1)))
print("\nF1 Score Macro: "+str(f1_score(lab_test,lab_pred, average='macro')))
print("\nF1 Score Micro: "+str(f1_score(lab_test,lab_pred, average='micro')))

Accuracy Score: 0.032371724289804005

Precision Score Macro: 0.237144108419549

Precision Score Micro: 0.032371724289804005

Recall Macro: 0.13615687971607554

Recall Micro: 0.032371724289804005

F1 Score Macro: 0.02121595429677774

F1 Score Micro: 0.032371724289804005

In [0]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100)
clf.fit(att_train, lab_train)
lab_pred = clf.predict(att_test)
print("\nAccuracy Score: "+ str(accuracy_score(lab_test,lab_pred)))
print("\nPrecision Score Macro: "+str(precision_score(lab_test,lab_pred,average='macro',zero_division=1)))
print("\nPrecision Score Micro: "+str(precision_score(lab_test,lab_pred,average='micro',zero_division=1)))
print("\nRecall Macro: "+str(recall_score(lab_test,lab_pred, average='macro',zero_division=1)))
print("\nRecall Micro: "+str(recall_score(lab_test,lab_pred, average='micro',zero_division=1)))
print("\nF1 Score Macro: "+str(f1_score(lab_test,lab_pred, average='macro')))
print("\nF1 Score Micro: "+str(f1_score(lab_test,lab_pred, average='micro')))

Accuracy Score: 0.023783307641488657

Precision Score Macro: 0.22353643606314547

Precision Score Micro: 0.023783307641488657

Recall Macro: 0.11637045476914758

Recall Micro: 0.023783307641488657

F1 Score Macro: 0.013962232869323028

F1 Score Micro: 0.023783307641488657

In [0]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=100, criterion='gini', 
                             max_depth=None, min_samples_split=2, 
                             min_samples_leaf=1, min_weight_fraction_leaf=0.0, 
                             max_features='auto', max_leaf_nodes=None, 
                             min_impurity_decrease=0.0, min_impurity_split=None,
                             bootstrap=True, oob_score=False, n_jobs=None, 
                             random_state=None, verbose=0, warm_start=False, 
                             class_weight=None, ccp_alpha=0.0, max_samples=None)
clf.fit(att_train, lab_train)
lab_pred = clf.predict(att_test)
print("\nAccuracy Score: "+ str(accuracy_score(lab_test,lab_pred)))
print("\nPrecision Score Macro: "+str(precision_score(lab_test,lab_pred,average='macro',zero_division=1)))
print("\nPrecision Score Micro: "+str(precision_score(lab_test,lab_pred,average='micro',zero_division=1)))
print("\nRecall Macro: "+str(recall_score(lab_test,lab_pred, average='macro',zero_division=1)))
print("\nRecall Micro: "+str(recall_score(lab_test,lab_pred, average='micro',zero_division=1)))
print("\nF1 Score Macro: "+str(f1_score(lab_test,lab_pred, average='macro')))
print("\nF1 Score Micro: "+str(f1_score(lab_test,lab_pred, average='micro')))

Accuracy Score: 0.024443955075974456

Precision Score Macro: 0.221722406138567

Precision Score Micro: 0.024443955075974456

Recall Macro: 0.12560139563977282

Recall Micro: 0.024443955075974456

F1 Score Macro: 0.014000229963129798

F1 Score Micro: 0.024443955075974456

from sklearn.datasets import load_iris
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree.export import export_text
clf = tree.DecisionTreeClassifier()
clf.fit(att_train, lab_train)
Objr=export_text(clf.fit(att_train, lab_train)) 
print(Objr)

In [0]:
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(att_train, lab_train)
lab_pred = clf.predict(att_test)
print("\nAccuracy Score: "+ str(accuracy_score(lab_test,lab_pred)))
print("\nPrecision Score Macro: "+str(precision_score(lab_test,lab_pred,average='macro',zero_division=1)))
print("\nPrecision Score Micro: "+str(precision_score(lab_test,lab_pred,average='micro',zero_division=1)))
print("\nRecall Macro: "+str(recall_score(lab_test,lab_pred, average='macro',zero_division=1)))
print("\nRecall Micro: "+str(recall_score(lab_test,lab_pred, average='micro',zero_division=1)))
print("\nF1 Score Macro: "+str(f1_score(lab_test,lab_pred, average='macro')))
print("\nF1 Score Micro: "+str(f1_score(lab_test,lab_pred, average='micro')))

Accuracy Score: 0.02136093371504074

Precision Score Macro: 0.46747590120096566

Precision Score Micro: 0.02136093371504074

Recall Macro: 0.07871458984784725

Recall Micro: 0.02136093371504074

F1 Score Macro: 0.009107841563034402

F1 Score Micro: 0.02136093371504074

In [0]:
from sklearn.ensemble import BaggingClassifier
clf = BaggingClassifier(tree.DecisionTreeClassifier(), n_estimators=100)
clf.fit(att_train, lab_train)
lab_pred = clf.predict(att_test)
print("\nAccuracy Score: "+ str(accuracy_score(lab_test,lab_pred)))
print("\nPrecision Score Macro: "+str(precision_score(lab_test,lab_pred,average='macro',zero_division=1)))
print("\nPrecision Score Micro: "+str(precision_score(lab_test,lab_pred,average='micro',zero_division=1)))
print("\nRecall Macro: "+str(recall_score(lab_test,lab_pred, average='macro',zero_division=1)))
print("\nRecall Micro: "+str(recall_score(lab_test,lab_pred, average='micro',zero_division=1)))
print("\nF1 Score Macro: "+str(f1_score(lab_test,lab_pred, average='macro')))
print("\nF1 Score Micro: "+str(f1_score(lab_test,lab_pred, average='micro')))

Accuracy Score: 0.03083021360933715

Precision Score Macro: 0.26150151935883137

Precision Score Micro: 0.03083021360933715

Recall Macro: 0.11898053477159498

Recall Micro: 0.03083021360933715

F1 Score Macro: 0.01842161610238303

F1 Score Micro: 0.03083021360933715

In [0]:
from sklearn.ensemble import BaggingClassifier
clf = BaggingClassifier(tree.DecisionTreeClassifier(),
                        n_estimators=10, max_samples=1.0, max_features=1.0,
                        bootstrap=True, bootstrap_features=False, oob_score=False,
                        warm_start=False, n_jobs=None, random_state=None, verbose=0)
clf.fit(att_train, lab_train)
lab_pred = clf.predict(att_test)
print("\nAccuracy Score: "+ str(accuracy_score(lab_test,lab_pred)))
print("\nPrecision Score Macro: "+str(precision_score(lab_test,lab_pred,average='macro',zero_division=1)))
print("\nPrecision Score Micro: "+str(precision_score(lab_test,lab_pred,average='micro',zero_division=1)))
print("\nRecall Macro: "+str(recall_score(lab_test,lab_pred, average='macro',zero_division=1)))
print("\nRecall Micro: "+str(recall_score(lab_test,lab_pred, average='micro',zero_division=1)))
print("\nF1 Score Macro: "+str(f1_score(lab_test,lab_pred, average='macro')))
print("\nF1 Score Micro: "+str(f1_score(lab_test,lab_pred, average='micro')))

Accuracy Score: 0.03038978198634662

Precision Score Macro: 0.2520542044967672

Precision Score Micro: 0.03038978198634662

Recall Macro: 0.1397773100967614

Recall Micro: 0.03038978198634662

F1 Score Macro: 0.020682947835455788

F1 Score Micro: 0.03038978198634662

In [0]:
from sklearn.ensemble import AdaBoostClassifier
clf = AdaBoostClassifier(tree.DecisionTreeClassifier(), n_estimators=100)
clf.fit(att_train, lab_train)
lab_pred = clf.predict(att_test)
print("\nAccuracy Score: "+ str(accuracy_score(lab_test,lab_pred)))
print("\nPrecision Score Macro: "+str(precision_score(lab_test,lab_pred,average='macro',zero_division=1)))
print("\nPrecision Score Micro: "+str(precision_score(lab_test,lab_pred,average='micro',zero_division=1)))
print("\nRecall Macro: "+str(recall_score(lab_test,lab_pred, average='macro',zero_division=1)))
print("\nRecall Micro: "+str(recall_score(lab_test,lab_pred, average='micro',zero_division=1)))
print("\nF1 Score Macro: "+str(f1_score(lab_test,lab_pred, average='macro')))
print("\nF1 Score Micro: "+str(f1_score(lab_test,lab_pred, average='micro')))

In [0]:
from sklearn.ensemble import AdaBoostClassifier
clf = AdaBoostClassifier(tree.DecisionTreeClassifier(), base_estimator=None, n_estimators=100, 
                         learning_rate=1.0, algorithm='SAMME.R', random_state=None)
clf.fit(att_train, lab_train)
lab_pred = clf.predict(att_test)
print("\nAccuracy Score: "+ str(accuracy_score(lab_test,lab_pred)))
print("\nPrecision Score Macro: "+str(precision_score(lab_test,lab_pred,average='macro',zero_division=1)))
print("\nPrecision Score Micro: "+str(precision_score(lab_test,lab_pred,average='micro',zero_division=1)))
print("\nRecall Macro: "+str(recall_score(lab_test,lab_pred, average='macro',zero_division=1)))
print("\nRecall Micro: "+str(recall_score(lab_test,lab_pred, average='micro',zero_division=1)))
print("\nF1 Score Macro: "+str(f1_score(lab_test,lab_pred, average='macro')))
print("\nF1 Score Micro: "+str(f1_score(lab_test,lab_pred, average='micro')))

In [0]:
from sklearn.linear_model import Perceptron
clf = Perceptron(tol=1e-3, random_state=0)
clf.fit(att_train, lab_train)
lab_pred = clf.predict(att_test)
print("\nAccuracy Score: "+ str(accuracy_score(lab_test,lab_pred)))
print("\nPrecision Score Macro: "+str(precision_score(lab_test,lab_pred,average='macro',zero_division=1)))
print("\nPrecision Score Micro: "+str(precision_score(lab_test,lab_pred,average='micro',zero_division=1)))
print("\nRecall Macro: "+str(recall_score(lab_test,lab_pred, average='macro',zero_division=1)))
print("\nRecall Micro: "+str(recall_score(lab_test,lab_pred, average='micro',zero_division=1)))
print("\nF1 Score Macro: "+str(f1_score(lab_test,lab_pred, average='macro')))
print("\nF1 Score Micro: "+str(f1_score(lab_test,lab_pred, average='micro')))

Accuracy Score: 0.002202158114952654

Precision Score Macro: 0.9782506155256635

Precision Score Micro: 0.002202158114952654

Recall Macro: 0.003906220022255478

Recall Micro: 0.002202158114952654

F1 Score Macro: 1.4447527099683947e-05

F1 Score Micro: 0.002202158114952654

In [0]:
from sklearn.linear_model import Perceptron
clf = Perceptron(penalty=None, alpha=0.0001, fit_intercept=True, 
                 max_iter=1000, tol=0.001, shuffle=True, verbose=0, 
                 eta0=1.0, n_jobs=None, random_state=0, early_stopping=False, 
                 validation_fraction=0.1, n_iter_no_change=5, class_weight=None, warm_start=False)
clf.fit(att_train, lab_train)
lab_pred = clf.predict(att_test)
print("\nAccuracy Score: "+ str(accuracy_score(lab_test,lab_pred)))
print("\nPrecision Score Macro: "+str(precision_score(lab_test,lab_pred,average='macro',zero_division=1)))
print("\nPrecision Score Micro: "+str(precision_score(lab_test,lab_pred,average='micro',zero_division=1)))
print("\nRecall Macro: "+str(recall_score(lab_test,lab_pred, average='macro',zero_division=1)))
print("\nRecall Micro: "+str(recall_score(lab_test,lab_pred, average='micro',zero_division=1)))
print("\nF1 Score Macro: "+str(f1_score(lab_test,lab_pred, average='macro')))
print("\nF1 Score Micro: "+str(f1_score(lab_test,lab_pred, average='micro')))